input[type="checkbox"],
input[type="radio"] {
    background: #ffffff !important;
}


input[type="checkbox"]:focus,
input[type="radio"]:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

/* CSS Reset for select elements */
textarea,
select {
    appearance: none;
    /* Removes default browser styling */
    -webkit-appearance: none;
    /* Removes default browser styling on Safari */
    -moz-appearance: none;
    /* Removes default browser styling on Firefox */
    border-radius: 0 !important;
}

/* Focus styles */
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
    border-radius: 0 !important;
    /* Keep border-radius zero on focus */
    outline: none;
    /* Remove any default outline */
    border: 1px solid #0D0113;
}

textarea:focus,
textarea:focus-visible,
textarea:focus-within,
textarea,
select,
select:focus,
select:focus-visible,
select:focus-within {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}


/* Autofill styles */
input[type="checkbox"]:-webkit-autofill,
input[type="radio"]:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F6F8FA inset;
    box-shadow: 0 0 0px 1000px #F6F8FA inset;
    -webkit-text-fill-color: #0B0112;
}

select:valid,
textarea:valid {
    border: 1px solid #0D0113;
}

select:valid,
textarea:valid,
input:valid {
    color: #0B0112;
}


input[type="checkbox"]::placeholder,
input[type="radio"]::placeholder,
select::placeholder,
input::placeholder {
    color: #AAA7AB;
}

/* Autofill styles on focus */
input[type="checkbox"]:-webkit-autofill:focus,
input[type="radio"]:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:focus {
    border: 1px solid #0B0112;
}

.btn-styles {
    display: inline-flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: inherit;
    color: inherit;
    font-kerning: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: all 456ms ease-in-out 0s;
    -webkit-transition: all 456ms ease-in-out 0s;
    -moz-transition: all 456ms ease-in-out 0s;
    -ms-transition: all 456ms ease-in-out 0s;
    -o-transition: all 456ms ease-in-out 0s;
}

.primary-btn {
    color: var(--Mono-0, #FFF);
    background: var(--Mono-100, #0D0113);
    background: var(--Mono-100, color(display-p3 0.0445 0.0046 0.069));
}

.secondary-btn {
    border: 1px solid var(--Mono-100, #0F0014);
    border: 1px solid var(--Mono-100, color(display-p3 0.0445 0.0046 0.069));
    color: var(--Mono-100);
}

.tertiary-btn {
    color: var(--Mono-0, #FFF);
    color: var(--Mono-0, color(display-p3 1 1 1));
    background: var(--Primary-100, #6A0398);
    background: var(--Primary-100, color(display-p3 0.38 0.0671 0.5717));
}

.accend-link-btn {
    color: var(--Primary-100);
}

/* hover states */
.primary-btn:hover {
    background: var(--Mono-90, #484648);
    background: var(--Mono-90, color(display-p3 0.2799 0.2763 0.2824));
}

.secondary-btn:hover {
    background-color: var(--mono-50);
}

.tertiary-btn:hover {
    background: var(--Primary-90, #410060);
    background: var(--Primary-90, color(display-p3 0.2314 0.0196 0.3608));
}

.accend-link-btn:hover {
    text-decoration: underline;
}

input {
    background-color: #fff;
}

.offcanvas-head .cart-head-top {
    border-bottom: 1px solid var(--Mono-60, #AAA7AC);
}

.cart-canvas-area .cart-footer-area {
    border-top: 1px solid var(--Mono-60, #AAA7AC);
}

.product-inc-dsc-states {
    border: 1px solid var(--Mono-100, #0B0112);
}

.cart-add-product-item-wrapper .cart-add-product-item:not(:last-child) {
    border-bottom: 1px solid var(--Mono-60, #AAA7AC);
}

.offcanvas-main.footer-mini-cart-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 197px;
    min-height: 197px;
}

@media screen and (max-width:767px) {
    .offcanvas-main.footer-mini-cart-area {
        height: 160px;
        min-height: 160px;
    }
}

.offcanvas-head.mini-cart-header-and.main-wrea {
    height: calc(100vh - 197px);
}

.offcanvas-head.mini-cart-header-and-main-wrea .minicart-body-product-info {
    height: calc(100vh - 285px);
    overflow: hidden;
    overflow-y: scroll;
}

/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
    background: #ffffff;
    /* The background of the scrollbar track */
    border-radius: 10px;
    /* Round track corners */
}

::-webkit-scrollbar-thumb {
    background-color: #373E2C;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Round thumb corners */
    border: 3px solid #f1f1f1;
    /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color when hovered */
}

.btn {
    display: inline-flex;
    height: 3rem;
    min-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-btn,.5rem);
    border-color: transparent;
    border-color: oklch(var(--btn-color,var(--b2))/var(--tw-border-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1em;
    gap: .5rem;
    font-weight: 600;
    text-decoration-line: none;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    border-width: var(--border-btn,1px);
    transition-property: color,background-color,border-color,opacity,box-shadow,transform;
    --tw-text-opacity: 1;
    color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    outline-color: var(--fallback-bc,oklch(var(--bc)/1));
    background-color: oklch(var(--btn-color,var(--b2))/var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    --tw-border-opacity: 1;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #373E2C #f1f1f1;
}

/* megamenu nav items style */
.megamenu-group-items {
    position: absolute;
    width: 100%;
    top: 40px;
    background: #fff;
    padding: 25px 26px 35px;
    z-index: 999;
    left: 0;
    border-bottom: 1px solid var(--Mono-40, #E7E3E8);


}

nav.header-bottom-navbar.navbar-megamenu-area {
    position: relative;
}

.megamenu-group-items .megamenu .megamenu-column .group-category-title {
    color: var(--Mono-70, #8B888C);
    color: var(--Mono-70, color(display-p3 0.5426 0.5345 0.5483));
    font-kerning: none;
    font-family: "Poppins";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.megamenu-group-items .megamenu .megamenu-column ul.subcategory-lists {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.megamenu-group-items .megamenu .megamenu-column ul.subcategory-lists li a {
    color: var(--Mono-100, #0D0113);
    color: var(--Mono-100, color(display-p3 0.0445 0.0046 0.069));
    font-kerning: none;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 0.6px;
}

/* home page style start here */
/* home landing banner start here */
.slides-indicator .slide-indicator-item.current-indicator {
    position: relative;
}


.banner-section-wrapper .swiper-slide .banner-slider-left-cont .banner-content-wrapper {
    opacity: 0 !important;
}


.banner-section-wrapper .swiper-slide.swiper-slide-active .banner-slider-left-cont .banner-content-wrapper {
    opacity: 1 !important;
}

.slides-indicator .slide-indicator-item.current-indicator:before {
    content: "";
    position: absolute;
    background: #A01BF2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    animation: progressSlides 5s ease-out 0s;
    -webkit-animation: progressSlides 5s ease-out 0s;
}

@keyframes progressSlides {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
.blogs-slides-area .swiper,
.product-slides-area .swiper {
    overflow: visible !important;
}
.blogs-slides-area .swiper .swiper-button-next.swiper-button-disabled,
.blogs-slides-area .swiper .swiper-button-prev.swiper-button-disabled,
.product-slides-area .swiper .swiper-button-next.swiper-button-disabled,
.product-slides-area .swiper .swiper-button-prev.swiper-button-disabled {
    display: none;
}
.blogs-slides-area .swiper .swiper-button-prev,
.blogs-slides-area .swiper .swiper-button-next,
.product-slides-area .swiper .swiper-button-prev,
.product-slides-area .swiper .swiper-button-next {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F2;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .3);
    border-radius: 60px;
    z-index: 999;
}
.blogs-slides-area .swiper .swiper-button-prev:after,
.blogs-slides-area .swiper .swiper-button-next:after,
.product-slides-area .swiper .swiper-button-prev:after,
.product-slides-area .swiper .swiper-button-next:after {
    font-size: 16px;
    font-weight: 900;
    color: #0D0113;
}
.blogs-slides-area  .swiper .swiper-button-next,
.product-slides-area .swiper .swiper-button-next {
    right: -15px;
}
.blogs-slides-area  .swiper .swiper-button-prev,
.product-slides-area .swiper .swiper-button-prev {
    left: -8px;
}

@media screen and (max-width:767px) {
    .blogs-slides-area .swiper .swiper-button-prev,
    .blogs-slides-area .swiper .swiper-button-next,
    .product-slides-area .swiper .swiper-button-prev,
    .product-slides-area .swiper .swiper-button-next,
    .slides-indicator {
        display: none;
    }
}

.cta-section {
    background: linear-gradient(91deg, #F4E8F9 -0.38%, #F4E8F9 99.19%);
}

button:empty {
    display: none !important;
}

.about-sec-info-cont .about-sec-desc {
    /* color: #182652; */
    letter-spacing: 0.8px;
}

@media screen and (max-width:1440px) {
    .cta-section .cta-sec-wrapper {
        background: url('/images/home/cta-bg-img.svg');
        background-position: right right;
        background-size: auto;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:1280px) {
    .cta-section .cta-sec-wrapper {
        background: url('/images/home/cta-bg-img.svg');
        background-position: -100px bottom;
        background-size: auto;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:1199px) {
    .cta-section .cta-sec-wrapper {
        background: url('/images/home/cta-bg-img.svg');
        background-position: -200px bottom;
        background-size: auto;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:991px) {
    .cta-section .cta-sec-wrapper {
        background: none;

    }

    .cta-sec-cont-area .cta-section-right-cont {
        background: linear-gradient(91deg, #F4E8F9 -0.38%, #F4E8F9 99.19%);
    }

    .cta-sec-cont-area .cta-sec-left-cont-wrap .cta-section-left-cont {
        background: url('/images/home/cta-bg-img.svg');
        background-position: -100px bottom;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .cta-section {
        background: transparent;
    }

}

@media screen and (max-width:767px) {
    .cta-sec-cont-area .cta-sec-left-cont-wrap .cta-section-left-cont {
        background: url('/images/home/cta-bg-mobo-img.svg');
        background-position: left bottom;
        background-size: auto;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width:425px) {
    .cta-sec-cont-area .cta-sec-left-cont-wrap .cta-section-left-cont {
        background: url('/images/home/cta-bg-mobo-img.svg');
        background-position: right bottom;
        background-size: auto;
        background-repeat: no-repeat;
    }

}

.category-overly-card-item .img-modal-box {
    position: relative;
}

.category-overly-card-item .img-modal-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 5.63%, rgba(0, 0, 0, 0.50) 37.81%, rgba(0, 0, 0, 0.50) 100%);
    background: linear-gradient(0deg, color(display-p3 0 0 0 / 0.50) 5.63%, color(display-p3 0 0 0 / 0.50) 37.81%, color(display-p3 0 0 0 / 0.00) 100%);
    transition: all 250ms ease-in 0ms;
    -webkit-transition: all 250ms ease-in 0ms;
    -moz-transition: all 250ms ease-in 0ms;
    -ms-transition: all 250ms ease-in 0ms;
    -o-transition: all 250ms ease-in 0ms;
    z-index: 9;
}


.category-overly-card-item .img-modal-box img {
    transition: all 250ms ease-in 0ms;
    -webkit-transition: all 250ms ease-in 0ms;
    -moz-transition: all 250ms ease-in 0ms;
    -ms-transition: all 250ms ease-in 0ms;
    -o-transition: all 250ms ease-in 0ms;
}

.category-overly-card-item:hover .img-modal-box img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all 250ms ease-in 0ms;
    -webkit-transition: all 250ms ease-in 0ms;
    -moz-transition: all 250ms ease-in 0ms;
    -ms-transition: all 250ms ease-in 0ms;
    -o-transition: all 250ms ease-in 0ms;
}

/* how it works page style start here */
.timeline-section {
    position: relative;
}

.timeline-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 447px;
    bottom: 0;
    left: 0;
    opacity: 0.26;
    background: linear-gradient(180deg, rgba(220, 252, 241, 0.40) 3.53%, #C1D1FF 100%);
    background: linear-gradient(180deg, color(display-p3 0.8882 0.9842 0.9458 / 0.40) 3.53%, color(display-p3 0.769 0.8185 1) 100%);
}

.timeline-section .timeline-main-area::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 50px;
    background: var(--Mono-40, #E7E3E8);
}

.timeline-section .timeline-main-area,
.timeline-card-cont-wrap {
    position: relative;
}

.timeline-card-cont-wrap::after {
    content: "";
    position: absolute;
    height: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 8px;
    background: url('/images/icons/timeline-icons.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom center;
    z-index: -1;
}

@media screen and (max-width:1199px) {
    .timeline-card-cont p.body-small {
        font-size: 13px;
    }
}

@media screen and (max-width:991px) {
    .timeline-card-cont p.body-small {
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {

    .timeline-card-cont-wrap {
        position: relative;
    }

    .timeline-card-cont-wrap::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -1px;
        background: var(--Mono-40, #E7E3E8);
    }

    .timeline-section .timeline-main-area::after {
        display: none;
    }

    /* .timeline-section .timeline-main-area::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 35px;
        background: linear-gradient(180deg, #05060E 0%, #0FA47A 67.27%);
        background: linear-gradient(180deg, color(display-p3 0.0196 0.0235 0.051 / 0.00) 0%, color(display-p3 0.2941 0.6353 0.4902) 67.27%); 
    } */
}

/* product page section style start here */
.product-listing-list-area {
    display: grid;
    grid-template-columns: repeat(5, minmax(216px, 1fr));
    column-gap: 19px;
    row-gap: 24px;
}

.products-list-main-right-cont .product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(216px, 1fr));
    column-gap: 19px;
    row-gap: 24px;
}

.products-list-main-right-cont {
    width: 100%;
}

select#sort-select option {
    border-bottom: 1px solid var(--Mono-40, #E7E3E8);
}

.product-category-card-item .product-category-img-box {
    transition: all 650ms ease 0ms;
    -webkit-transition: all 650ms ease 0ms;
    -moz-transition: all 650ms ease 0ms;
    -ms-transition: all 650ms ease 0ms;
    -o-transition: all 650ms ease 0ms;
}

.product-category-card-item .product-category-img-box .product-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 650ms ease 0ms;
}

.product-category-card-item .product-category-img-box:hover .product-btn {
    background: rgba(0, 0, 0, 0.10);
    background: color(display-p3 0 0 0 / 0.10);
    transition: all 650ms ease 0ms;
    -webkit-transition: all 650ms ease 0ms;
    -moz-transition: all 650ms ease 0ms;
    -ms-transition: all 650ms ease 0ms;
    -o-transition: all 650ms ease 0ms;
}

.product-category-card-item .product-category-img-box:hover .product-btn {
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    transition: all 650ms ease 0ms;
}

@media screen and (max-width:1199px) {

    .product-listing-list-area,
    .products-list-main-right-cont .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
        column-gap: 19px;
        row-gap: 24px;
    }
}

@media screen and (max-width:991px) {
    .filter-sidebar ul {
        padding-left: 0;
        margin-left: 0;
    }

    .product-listing-list-area,
    .products-list-main-right-cont .product-list {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        column-gap: 8px;
        row-gap: 14px;
    }
}

@media screen and (max-width:767px) {

    .product-listing-list-area,
    .products-list-main-right-cont .product-list {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        column-gap: 8px;
        row-gap: 14px;
    }

    .filter-sidebar ul {
        padding-left: 0;
        margin-left: 0;
    }
}

.storefront-tabs-area .storefront-tabs-box .storefront-tabs-btn-box {
    border-bottom: 1px solid var(--Mono-40, #E6E3E8);
}

.storefront-tabs-btn-box .favorite-btn-item-store .favorite-btn-item {
    border: 1px solid var(--Mono-40, #E7E3E8);
}


/* favorites page main styles start here */
.favorites-wrapper-area .favorites-tabs-btn-box {
    border-bottom: 1px solid var(--Mono-40, #E6E3E8);
}

/* user account style start here */
.title-line-area-section {
    border-bottom: 1px solid #E6E3E8;
}


.payment-section .btn-states-box,
.address-section .btn-states-box {
    border: 1px solid #E6E3E7;
    padding: 13px 8px;
}

.payment-section .payment-details,
.address-section .address-details {
    border: 1px solid #E6E3E7;
    padding: 25px 16px;
}

.product-card-btn-box .product-states-btn {
    max-width: calc(100% - 64px);
    width: 100%;
}


.charity-info-details .charity-info-item {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 21px;
    row-gap: 14px;
}


.admin-info-details .admin-info-item {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 21px;
    row-gap: 14px;
}

.adding-payment-methods-area .payment-methods-items-wrap {
    border: 1px solid #E6E3E7;
}

.payment-methods-head {
    border: 1px solid #E6E3E7;
}


p.admin-info-item.editing-view {
    grid-template-columns: 140px 1fr;
}

.personal-info-item.editing-view,
.personal-info-details .personal-info-item,
.account-info-details .account-info-item,
p.account-info-item.editing-view {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 21px;
    row-gap: 14px;
}

@media screen and (max-width:767px) {

    .personal-info-item.editing-view,
    .personal-info-details .personal-info-item,
    .account-info-details .account-info-item,
    p.account-info-item.editing-view {
        display: grid;
        grid-template-columns: 100px 1fr;
        column-gap: 10px;
        row-gap: 14px;
    }
}

.sold-product-states-item {
    border-bottom: 1px solid #E6E3E7;
}

.sold-product-items-main-item-content {
    position: relative;
}

.sold-product-items-main-item-content::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 2px;
    border-radius: 8px;
    background: var(--Primary-100, #6A0398);
    background: var(--Primary-100, color(display-p3 0.38 0.0671 0.5717));
    height: 100%;
}

.dots-item-indicator {
    border: 5px solid #F1F1F8;
}

.dots-item-indicator.states-not-complete {
    background: #F1F1F8;
    position: absolute;
}

.dots-item-indicator.states-not-complete:after {
    width: 10px;
    height: 10px;
    border: 1px solid #6A0398;
    left: -1px;
    content: "";
    border-radius: 100%;
    position: absolute;
    top: -2px;
    background: #F1F1F8;
}

.sorting select,
.sold-item-sort-box select,
.delivery-time-filter select {
    border: 1px solid #0D0113;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 6px 12px;
}

@media screen and (max-width:767px) {
    .btn-styles {
        height: 32px;
        padding: 8px 12px;
        font-size: 11px;
    }

    .product-card-btn-box .product-states-btn {
        max-width: 100%;
        width: 100%;
    }

    .admin-info-details .admin-info-item,
    p.admin-info-item.editing-view {
        grid-template-columns: 120px 1fr;
    }

}

.basket-product-item-head {
    border-bottom: 1px solid #E6E3E7;
}

.summary-foot {
    border-top: 1px solid #E6E3E7;
}

.shipping-and-payment-information .payment-info-wrapper,
.shipping-and-payment-information .address-info-wrapper {
    border-top: 1px solid #0B0112;
}

.selecting-checkbox-item {
    --tw-bg-opacity: 1;
    background-color: transparent !important;
    background-image: none;
    animation: radiomark var(--animation-input, 0.2s) ease-out;
    box-shadow: none !important;
    border: 1px solid #6A0398;

}

.selecting-checkbox-item:checked {
    border: 4px solid #6A0398;
    background-color: #fff;
}

.selecting-checkbox-item:focus,
.selecting-checkbox-item:focus-visible,
.selecting-checkbox-item:focus-within {
    border-radius: 999px !important;
    -webkit-border-radius: 999px !important;
    -moz-border-radius: 999px !important;
    -ms-border-radius: 999px !important;
    -o-border-radius: 999px !important;
}

.payment-wrapper-box-head,
.address-cont-wrapper-box-area,
.address-wrapper-box-head {
    border: 1px solid #E6E3E7;
}

@media screen and (min-width:768px) {
    .basket-page-right-cont {
        position: sticky;
        top: 100px;
        height: 100vh;
    }
}

@media screen and (max-width:767px) {
    .checkout-header-right-cont p {
        display: none;
    }
}

.basket-page-right-cont .basket-page-right-cont-wrapper {
    height: auto;
    transition: height 350ms ease 0s;
    -webkit-transition: height 350ms ease 0s;
    -moz-transition: height 350ms ease 0s;
    -ms-transition: height 350ms ease 0s;
    -o-transition: height 350ms ease 0s;
}

.order-item-list-box p.colaps-title.collapsed .arrow-down {
    transition: all 450ms ease 0s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: all 450ms ease 0s;
    -moz-transition: all 450ms ease 0s;
    -ms-transition: all 450ms ease 0s;
    -o-transition: all 450ms ease 0s;
}

.order-item-list-box p.colaps-title.collapsed-open .arrow-down {
    transition: all 450ms ease 0s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transition: all 450ms ease 0s;
    -moz-transition: all 450ms ease 0s;
    -ms-transition: all 450ms ease 0s;
    -o-transition: all 450ms ease 0s;
}

.basket-page-right-cont .order-item-list-box .product-list {
    max-height: 305px;
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
}

.loading-animation {
    fill-opacity: 0;
    /* Start with hidden fill */
    animation: fillUnfill 2s infinite;
}

.loading-animation.delay {
    animation-delay: 1s;
    /* Offset the third path to alternate with the second */
}

@keyframes fillUnfill {

    0%,
    50% {
        fill-opacity: 1;
    }

    /* Fill for half the animation */
    50%,
    100% {
        fill-opacity: 0;
    }
}

header.header-section {
    position: relative;
    z-index: 9999;
}

.price-input-box .input-wrapper input {
    color: var(--Mono-100, color(display-p3 0.0445 0.0046 0.069));
    font-kerning: none;
    font-family: "Poppins";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500 !important;
}

button.steps-completed {
    color: #0D0113;
}

/* Override the toast container */
.Toastify__toast-container {
    width: auto !important;
    min-width: 280px;
    font-family: 'Poppins', sans-serif;
}


.Toastify__toast-container>* {
    font-size: 14px;
    color: #0B0112;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 135%;
}

/* Customize the error toast */
.Toastify__toast--error {
    background: #F1F1F7;
    color: #E50035;
    border: 1px solid transparent;
}

/* Customize the success toast */
.Toastify__toast--success {
    background: #F1F1F7;
    color: #1FC430;
    border: 1px solid transparent;
}

/* Customize the progress bar */
.Toastify__progress-bar--error {
    background-color: #E50035;
}

.Toastify__progress-bar--success {
    background-color: #1FC430;
}

.alert-dropdown-screen.notification-main-wrapper {
    background: #FFF;
    background: color(display-p3 1 1 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px color(display-p3 0 0 0 / 0.25);
}

.alert-dropdown-screen.notification-main-wrapper .tab-content {
    display: block;
}

.notification-main-tab-header .tab-button {
    border-bottom: 1px solid #AAA7AB;
    transition: all 650ms ease 0ms;
    -webkit-transition: all 650ms ease 0ms;
    -moz-transition: all 650ms ease 0ms;
    -ms-transition: all 650ms ease 0ms;
    -o-transition: all 650ms ease 0ms;
}

.notification-main-tab-header .tab-button.active {
    border-bottom: 1px solid #0D0113;
    transition: all 650ms ease 0ms;
    -webkit-transition: all 650ms ease 0ms;
    -moz-transition: all 650ms ease 0ms;
    -ms-transition: all 650ms ease 0ms;
    -o-transition: all 650ms ease 0ms;
}

.notification-msg-list-item:not(:last-child),
.notification-alert-list-item:not(:last-child) {
    border-bottom: 1px solid #C9C8CA;
}

.notification-alert-area-content,
.notification-massage-area-content {
    max-height: 431px;
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width:767px) {

    .notification-alert-area-content,
    .notification-massage-area-content {
        max-height: calc(100vh - 274px);
        overflow: hidden;
        overflow-y: scroll;
        /* background-color: #f1f1f7; */
    }
}

.swiper-slider-view .swiper.swiper-fade {
    border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.swiper-product-slide-tab-item.mt-2 .swiper.swiper-initialized.swiper-thumbs {
    border-radius: 0 !important;
}
.offer-vendor-navigator .swiper-button-next::after,
.offer-vendor-navigator .swiper-button-prev::after,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-next::after,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-prev::after {
    font-size: 16px !important;
    font-weight: 900 !important;
    color: #0D0113;
}

.offer-vendor-navigator .swiper-button-next,
.offer-vendor-navigator .swiper-button-prev,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-next,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-prev {
    width: 38px;
    height: 38px;
    padding: 8px;
    border-radius: 999px;
    background: #F0F0F2;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:767px) {
  .offer-vendor-navigator .swiper-button-next,
.offer-vendor-navigator .swiper-button-prev,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-next,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-prev {
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 999px;
    background: #F0F0F2;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}
.offer-vendor-navigator .swiper-button-prev,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-prev {
    left: 0;
}
.offer-vendor-navigator .swiper-button-next,
.swiper-product-slide-tab-item .swiper.swiper-initialized.swiper-thumbs .swiper-button-next {
    right: 0;
}

.product-singlepage-left-cont .slide-view-item {
    position: relative;
}

.swiper-slider-view {
    overflow: visible;
    /* Make sure zoomed lens can appear outside the swiper */
    position: relative;
    /* Keeps the positioning context for inner elements */
}
.swiper-product-slide-tab-item .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active.swiper-slide-thumb-active .slide-tab-item .slide-tab-item-wrap {
    border: 1px solid #3A64F6;
}
/* Apply overflow: visible to the swiper component */
.thumbs {
    overflow: visible !important;
}

.swiper-product-slider-area {
    overflow: visible !important;
}

.slide-view-item {
    position: relative;
}

.zoom-lens-wrapper {
    position: relative;
    /* Ensure the lens can render outside the image */
}

.product-quantity-area {
    border: 1px solid #0B0112;
}

.table-user-info-list-bottom {
    border-top: 1px solid #CCD3DB;
}

.upload-file-area {
    border: 1px dashed #898989;
    border-radius: 12px;
    padding: 12px 18px;
    height: 100px;
    max-width: 410px;
}

.loading-model .loading-modal svg {
    width: 32px;
}

.storefront-banner-tittle {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit the text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Hide overflowed text */
    text-overflow: ellipsis;
    /* Add the ellipsis (…) */
}

.how-it-work-banner-area {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('/images/how-it-works/banner-image.jpg') lightgray -2.457px -1327.481px / 100% 657.463% no-repeat;
    background: linear-gradient(0deg, color(display-p3 0 0 0 / 0.20) 0%, color(display-p3 0 0 0 / 0.20) 100%), url('/images/how-it-works/banner-image.jpg') lightgray -2.457px -1327.481px / 100% 657.463% no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.community-feature-left-cont {
    background: url('/images/community-model-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.our-mission-model-area {
    background: url('/images/how-it-works/mission.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media screen and (min-width: 1190px) {
    .how-it-works-slides-area {
        position: relative;
        padding-top: 16px;
        overflow: hidden;
        width: calc(1200px + ((100vw - 1200px) / 2));
        max-width: calc(1200px + ((100vw - 1200px) / 2)) !important;
        left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }
    .offer-slider-area .product-slides-area {
    overflow: hidden;
    width: calc(1200px + ((100vw - 1170px) / 2));
    max-width: calc(1200px + ((100vw - 1170px) / 2)) !important;
    left: calc((100vw - 1200px) / 2);
    padding-right: calc((100vw - 1000px) / 2);
    position: relative;
  }
}


.slider-indicator-area .swiper-navigation>div:after {
    display: none;
}

.slider-indicator-area .swiper-pagination span.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background: #cccccc;
}

.slider-indicator-area .swiper-pagination span.swiper-pagination-bullet-active {
    background-color: #0B0112;
}

.strip-connect-account-btn svg path {
    fill: #611192;
}
ol.list-disc {
    list-style: decimal;
}

  input.form-subs-input:target,

  input.form-subs-input:focus,
  input.form-subs-input:focus-visible,
  input.form-subs-input:focus-within {
    border-radius: 999px !important;
  }
  input.form-subs-input{
    border-radius: 999px !important;
    -webkit-border-radius: 999px !important;
  }
  .tyres-search-main-content .tyres-search-content{
    box-shadow: 0px 4px 44px 0px #000D3814;
  }
  .product-specification-box .collapse:is([open], :focus:not(.collapse-close)) > :where(.collapse-content),   .product-specification-box  .collapse:not(.collapse-close) > :where(input:is([type="checkbox"],   .product-specification-box  [type="radio"]):checked ~ .collapse-content) {
    padding-bottom: 24px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    transition: padding .2s ease-out, background-color .2s ease-out;
}
.product-specification-box .collapse-plus > .collapse-title:after {
    top: .2rem;
}
.product-compared-table-box{
    backdrop-filter: blur(4px)
}
.featured-product-list-area{
    position: relative;
}
section.brand-category-section .featured-product-list-area:before{
    content: "";
    position: absolute;
    width: 87px;
    height: 100%;
    top: 0;
    left: 0;
   background: linear-gradient(270deg, #FFFFFF 3%, rgba(255, 255, 255, 0) 100%);
   transform: rotate(-180deg);
   z-index: 9;
}
section.brand-category-section .featured-product-list-area:after{
    content: "";
    position: absolute;
    width: 87px;
    height: 100%;
    top: 0;
    right: 0; 
    background: linear-gradient(270deg, #FFFFFF 3%, rgba(255, 255, 255, 0) 100%);
    z-index: 9;
}
.blogs-swiper-pagination  span.swiper-pagination-bullet ,
.latest-swiper-pagination  span.swiper-pagination-bullet ,
.custom-swiper-pagination span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid #3A64F6;
    background: linear-gradient(#3a63f662 0% 12.48%, #fff 88.99%, #3a63f662 100%);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #3A64F6 !important;
}