@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

  :root{
            --border-color: #ededed;
            --primary-color: #3a64f6;
            --font-primary: 'Montserrat', sans-serif;
            --font-secondary: 'Noto Sans', sans-serif;
            --font-tertiary: 'Noto Sans', sans-serif;
            --font-quaternary: 'Noto Sans', sans-serif;
            --mono-100: #333;
            --mono-90: #474648;
            --mono-80: #6B686E;
            --mono-70: #949494;
            --mono-60: #D6D6D6B2;
            --mono-50: #C9C8CA;
            --mono-40: #E6E3E7;
            --mono-0: #FFFFFF;
            --primary-50: #565656;
            --primary-70: #000000;
            --secondary-100: #333;
            --error: #E50035;
            --success: #8284FFB2;
            --sky-blue: #3a64f6;
            --opacity-color: #3a63f623;
            --bg-opacity: #ededed63;
            --neutral-light: #AAAAAA;
        }
    @theme {
        --font-primary: var(--primary-font);
        --font-secondary: var(--secondary-font);
        --font-tertiary: var(--tertiary-font);
        --font-quaternary: var(--quaternary-font);
        --color-mono-100: var(--mono-100);
        --color-mono-90: var(--mono-90);
        --color-mono-80: var(--mono-80);
        --color-mono-70: var(--mono-70);
        --color-mono-60: var(--mono-60);
        --color-mono-50: var(--mono-50);
        --color-mono-40: var(--mono-40);
        --color-mono-0: var(--mono-0);
        --color-primary-100: var(--primary-color);
        --color-primary-50: var(--primary-50);
        --color-primary-70: var(--primary-70);
        --color-secondary-100: var(--secondary-100);
        --color-secondary-50: var(--secondary-50);
        --color-error: var(--error);
        --color-success: var(--success);
        --color-sky-blue: var(--sky-blue);
        --color-neutral-light: var(--neutral-light);
        --color-border-100: var(--border-color);
        --color-opacity: var(--opacity-color);
         --color-bg-opacity: var(--bg-opacity);
      }
      @layer base {
   * {
      box-sizing: border-box;
      border: 0;
      padding: 0;
      
    } 
  html {
    font-size: 16px;
    line-height: 1.5;
    background: #ffffff !important;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }


    input:focus-visible,
    input:focus-within,
    input:focus {
      border-radius: 0 !important;
      outline: none !important;
    }

    *,
    html,
    body {
      box-sizing: border-box;
      color: var(--mono-100);
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--mono-100);
      font-family: var(--secondary-font);
      font-size: inherit;
      font-weight: inherit;
      line-height: 1.1;
      color: inherit;
    }

    h1,
    .h1 {
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.48px;
    }

    h2,
    .h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.4px;
    }

    h3,
    .h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      letter-spacing: 0.32px;
    }

    h4,
    .h4 {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.24px;
    }

    h5,
    .h5 {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.2px;
    }

    h6,
    .h6 {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      letter-spacing: 0.18px;
    }

    @media screen and (max-width:991px) {

      h1,
      .h1 {
        font-size: 42px;
      }

      h2,
      .h2 {
        font-size: 36px;
      }

      h3,
      .h3 {
        font-size: 28px;
      }

      h4,
      .h4 {
        font-size: 22px;
      }
    }

    @media screen and (max-width:767px) {

      h1,
      .h1 {
        font-size: 40px;
      }

      h2,
      .h2 {
        font-size: 32px;
      }

      h3,
      .h3 {
        font-size: 24px;
      }

      h4,
      .h4 {
        font-size: 20px;
      }
    }
    .filter-item-title-box span.arrow.open {
      transform: rotate(180deg);
      transition: all 150ms ease 0s;
  }

  .blog-details-content-block h3 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.blog-details-content-block h5 {
    font-size: 20px;
    color: #000;
}

.blog-details-content-block ul.list-disc li {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.blog-details-content-block p {
    font-size: 16px;
    color: #000;
}
    p {
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      line-height: 150%;
      letter-spacing: 0.8px;
      font-kerning: none;
      color: var(--mono-100);
    }
    .global-search-group-field input:focus, .global-search-group-field input:focus-within,.global-search-group-field input:focus-visible {
      border-radius: 9999px !important;
      -webkit-border-radius: 9999px !important;
  }
    body {
      color: var(--mono-0);
      font-family: var(--primary-font);
      font-kerning: none;
    }
    .body-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-regular {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .caption {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .forms {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .body-bold-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 33px */
    }

    .body-bold-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 27px */
    }

    .body-bold-regular {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 24px */
    }

    .body-bold-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 21px */
    }

    .caption-bold {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    .forms-bold {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    .eyebrow-large {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }

    .eyebrow-medium {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
    }

    .eyebrow-small {
      color: inherit;
      font-kerning: none;
      font-family: var(--primary-font);
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }


    @media screen and (max-width:767px) {
      .caption-bold {
        font-size: 11px;
      }

      .body-small {
        font-size: 12px;
      }
    }
    .header-section{
        border-bottom: 1px solid var(--border-color);
    }
    .banner-section{
        background: url('/images/home/banner-cover-image.png') no-repeat center center/cover;
        /* min-height: 60vh; */
        height: 45vh;
        max-height: 70vh;
        /* height: 100%; */
        width: 100%;
    }
/* .products-banner-section{
        background: url('./assets/images/home/banner-cover-image.png') no-repeat center center/cover;
        min-height: 60vh;
        height: 30vh;
        max-height: 70vh;
        height: 100%;
        width: 100%;
    } */
     /* .products-banner-section, */
    .how-it-works-section{
      background-color: #3a63f615 !important;
    }
    .collapse-plus > .collapse-title:after {
    font-size: 24px;
}
}
@layer components {
    .custom-container-fluid {
      max-width: 1440px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .custom-container {
      max-width: 1280px;
      padding-left: 24px;
      padding-right: 24px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .custom-container-full {
      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    @media screen and (max-width:991px) {
      .custom-container {
        padding-left: 18px;
        padding-right: 18px;
      }
    }

    @media screen and (max-width:767px) {
      .custom-container {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
 
}